.message {
    text-align: center;
    margin: auto;
    width: 98%;
    margin-top: 10%;
}

button{
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
}button:hover {
  background-color: #967259;
  color: whitesmoke;
}
