body {
    background-color: #ece0d1;
    margin: 0%;
    font-family: 'Inter', sans-serif;  
}

.top_bar {
    background-color: #dbc1ac;
    box-shadow: 0px 2.5px 5px #888888;
    padding-left: 1%;
}

.app_name {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
    width: 49%;
    display: inline-block;
}

.logout {
    display: inline-block;
    width: 49.5%;
    text-align: right;
    font-size: small;
}

@media only screen and (max-width: 850px) {
    body {
        background-color: #ffe4e1;
        color: #fffaf0;
    }

    .top_bar {
        background-color: #f08080;
    }

    .logout {
        width: 48%;
    }
}
