body {
    background-color: #ece0d1;
    margin: 0%;
    font-family: 'Inter', sans-serif;
}

.darkmode {
    filter: invert(1) hue-rotate(180deg);
    transition: opacity .5s ease-in-out;
    background-color: #291d15;
}

.darkmode .noinv  {
    filter: invert(1) hue-rotate(180deg);
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 3em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.click-here {
    width: 100px;
    right: 1.5em;
    position: absolute;
    top: 5em;
}

.top_bar {
    background-color: #dbc1ac;
    box-shadow: 0px 2.5px 5px #888888;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;


}

.app_name {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
    display: inline-block;
    width: 32%;
}

.user_count {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
    width: auto;
    display: inline-block;
    text-align: center;
    flex: 1 1 auto;
}

.logout {
    color: #967259;
    text-decoration: none;
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 8px;
    height: 70%;
    width: auto;
    text-align: right;
    font-size: small;
    vertical-align: middle;
    transition-duration: 0.4s;
    flex: 1 1 auto;
}

.logout:hover{
  color: #fc2003;
  text-decoration: none;

}

a:link {
  color: #705644;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #705644;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #705644;
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
    .user_count {
        width: 35%;
    }

    .app_name {
        width: 26%;
    }
}
