body {
    background-color: #ece0d1;
    margin: 0%;
    font-family: 'Inter', sans-serif;  
}

.top_bar {
    background-color: #dbc1ac;
    box-shadow: 0px 2.5px 5px #888888;
    padding-left: 1%;
}

.app_name {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
    display: inline-block;
    width: 32%;
}

.user_count {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
    width: 34%;
    display: inline-block;
    text-align: center;
}

.logout {
    display: inline-block;
    width: 32%;
    text-align: right;
    font-size: small;
}

@media only screen and (max-width: 850px) {
    .user_count {
        width: 35%;
    }
    
    .logout {
        width: 29%;
    }
}
