.main {
    display: flex;
    margin: 2%;
}

.user_info {
    background-color: #dbc1ac;
    width: 25%;
    margin-right: 1%;
    padding: 1%;
}

.leaderboard {
    background-color: #dbc1ac;
    width: 72%;
}

.person {
    background-color: #967259;
    color: whitesmoke;
    padding: 5%;
}

.name {
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.email {
    text-align: center;
    margin: 0;
    font-size: small;
    font-weight: lighter;
}

.uni {
    text-transform: capitalize;
}

.buttons {
    display: inline-flex;
}

.set_study_break {
    padding-top: 5%;
}

#id_minutes_studying_for {
    margin-left: 2%;
    margin-right: 2%;
}

.board_title {
    text-align: center;
}

li {
    display: block;
    background-color: #967259;
    color: whitesmoke;
    margin: 1.5%;
    padding: 1.5%;
}

.student {
    text-transform: capitalize;
    display: inline;
}

.points {
    float: right;
    padding-right: 2.5%;
}

/* This is for the grid of collectable */

.grid_collectables {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
}

.grid_collectables img {
  width: 80px;
  height: auto;
}
