html, body {
  height: 130%;
}

.main {
    display: flex;
    margin: 2%;
    height: 100%;
}

.notif_msgs {
  overflow: scroll;
  height: 94%
}

.user_info, .notifs {
    background-color: #dbc1ac;
    width: 25%;
    margin-right: 1%;
    padding: 1%;
}

.leaderboard {
    background-color: #dbc1ac;
    width: 72%;
    padding-top: 1%;
}

/* This is for the info and edit button */
.person {
    background-color: #967259;
    color: whitesmoke;
    padding: 5%;
    text-align: center;
}

.name {
    text-transform: capitalize;
    margin: 0;
}

.email {
    margin: 0;
    font-size: small;
    font-weight: lighter;
}

.edit_button{
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
  height: 60%;
  width: auto;
  margin-top: 7px;
}
.edit_button:hover {
  border: 1.8px solid whitesmoke;
  background-color: #967259;
  color: whitesmoke;

}

/* This is for displaying the tasks */
.uni {
    text-transform: capitalize;
}


.otherbutton{
  display: inline-flex;
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
}

.otherbutton:hover {
  background-color: #967259;
  color: whitesmoke;
}

.set_study_break {
    padding-top: 5%;
    padding-bottom: 5%;
}

#id_minutes_studying_for {
    margin-left: 2%;
    margin-right: 2%;
}

.board_title {
    text-align: center;
}

li {
    display: block;
    background-color: #967259;
    color: whitesmoke;
    margin: 1.5%;
    padding: 1.5%;
}

.student {
    text-transform: capitalize;
    display: inline;
}

.points {
    float: right;
    padding-right: 2.5%;
}


/* This is for the grid of collectable */

.grid_collectables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid_collectables img {
  width: 80px;
  height: auto;
  margin: auto;
}

/* end grid of collectable */

/* This is for the top bar*/
.cafe_data{
  padding-top: 6px;
  height: 90%;
  display: flex;
  text-align: center;
  flex: 1 1 auto;
}

.user_count_dash{
  margin: 0;
  font-size: small;
  font-weight:lighter;
  width: 34%;
  display: inline-block;
  text-align: center;
  margin-top: 1px;

}

.goToCafe_button{
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
  height: 60%;
  width: auto;
  margin-right: 10px;
}

.goToCafe_button:hover {
  background-color: #967259;
  color: whitesmoke;
}


.notification {
    margin: 5px 0 0;
    padding: 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    color: white;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: #967259;
}

.collectables {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 850px) {
  .main {
    display: inline-block;
    width: 96%;
  }

  .user_info {
    width: 90%;
    margin: auto;
    margin-top: 5%;
  }

  .notifs {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    height: 50%;
  }

  .notif_msgs {
    height: 87%;
  }

  .leaderboard {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
  }

  center {
    margin-top: 7%;
  }
}
