.main {
    display: flex;
    margin: 2%;
}

.user_info {
    background-color: #dbc1ac;
    width: 25%;
    margin-right: 1%;
    padding: 1%;
}

.leaderboard {
    background-color: #dbc1ac;
    width: 72%;
}

/* This is for the info and edit button */
.person {
    background-color: #967259;
    color: whitesmoke;
    padding: 5%;
    text-align: center;
}

.name {
    text-transform: capitalize;
    margin: 0;
}

.email {
    margin: 0;
    font-size: small;
    font-weight: lighter;
}

.edit_button{
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
  height: 60%;
  width: auto;
  margin-top: 7px;
}
.edit_button:hover {
  border: 1.8px solid whitesmoke;
  background-color: #967259;
  color: whitesmoke;

}

/* This is for displaying the tasks */
.uni {
    text-transform: capitalize;
}


.otherbutton{
  display: inline-flex;
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
}

.otherbutton:hover {
  background-color: #967259;
  color: whitesmoke;
}

.set_study_break {
    padding-top: 5%;
}

#id_minutes_studying_for {
    margin-left: 2%;
    margin-right: 2%;
}

.board_title {
    text-align: center;
}

li {
    display: block;
    background-color: #967259;
    color: whitesmoke;
    margin: 1.5%;
    padding: 1.5%;
}

.student {
    text-transform: capitalize;
    display: inline;
}

.points {
    float: right;
    padding-right: 2.5%;
}

/* This is for the grid of collectable */

.grid_collectables {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
}

.grid_collectables img {
  width: 80px;
  height: auto;
}

/* This is for the top bar*/
.cafe_data{
  padding-top: 6px;
  height: 90%;
  display: flex;
}

.user_count_dash{
  margin: 0;
  font-size: small;
  font-weight:lighter;
  width: 34%;
  display: inline-block;
  text-align: center;
  margin-top: 1px;
  flex: 1 1 auto;
}

.goToCafe_button{
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
  height: 60%;
  width: auto;
  margin-right: 10px;
}

.goToCafe_button:hover {
  background-color: #967259;
  color: whitesmoke;
}
