body {
    background-color: #ece0d1;
    margin: 0%;
    font-family: 'Inter', sans-serif;
}

.top_bar {
    background-color: #dbc1ac;
    box-shadow: 0px 2.5px 5px #888888;
    padding-left: 1%;
}

.app_name {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
}

.main {
    background-color: #dbc1ac;
    text-align: center;
    width: 35%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 15px;
    box-shadow: 1px 1px 3px 3px rgb(192, 170, 153, 1);
}

input {
    margin: 2px;
    padding: 4px
}

input[type=button], input[type=submit] {
    background-color: whitesmoke;
    color: black;
}

button{
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #967259;
  color: whitesmoke;
}

@media only screen and (max-width: 850px) {
    .main {
        width: 83%;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}
