body {
    background-color: #ece0d1;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

.top_bar {
    background-color: #dbc1ac;
    box-shadow: 0px 2.5px 5px #888888;
    padding-left: 10px;
}

.app_name {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
}

.main {
    background-color: #dbc1ac;
    text-align: center;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 32.5%;
    padding: 15px;
}

input {
    margin: 2px;
    padding: 4px
}

input[type=button], input[type=submit] {
    background-color: #967259;
    color: whitesmoke;
}

button{
  background-color: #967259;
  color: whitesmoke;
}
