.main {
    background-color: #dbc1ac;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}

button{
  background-color: #967259;
  color: whitesmoke;
}

a {
    text-decoration: none;
}

.user_info {
    text-transform: capitalize;
}

.staff_info {
    text-transform: none;
}

/* Grid of collectables */
.grid_collectables {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid_collectables img {
    width: 80px;
    height: auto;
    margin: auto;
}
/* End of collectables grid */


@media only screen and (max-width: 850px) {
    .main {
        width: 83%;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    /* Grid of collectables */
    .grid_collectables {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    /* End of collectables grid */
}
