body {
    background-color: #ece0d1;
    margin: 0%;
    font-family: 'Inter', sans-serif;
}

.top_bar {
    background-color: #dbc1ac;
    box-shadow: 0px 2.5px 5px #888888;
    padding-left: 1%;
}

.app_name {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: small;
    font-weight:lighter;
}

.main {
    background-color: #dbc1ac;
    text-align: center;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 32.5%;
    padding: 15px;
}

input {
    margin: 2px;
    padding: 4px;
}

input[type=button], input[type=submit] {
    background-color: #967259;
    color: whitesmoke;
}

button{
  background-color: #967259;
  color: whitesmoke;
}

@media only screen and (max-width: 850px) {
    .main {
        width: 83%;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

/* This is for the grid of collectable */

.grid_collectables {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-gap: 15px;
}

.grid_collectables img {
  width: 80px;
  height: auto;
}
/* end grid of collectable */
