ul {
    padding-inline-start: 0;
}

.tables {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    margin-left: 7%;
}

li {
    display: block;
    width: 200px;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%;
    margin-bottom:1.5%;
}

.table_names {
    text-align: center;
}

.message {
    text-align: center;
    margin: auto;
    width: 98%;
    margin-top: 10%;
}

button {
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
  width: fit-content;
  margin-top: 2.5%;
}

button:hover {
  background-color: #967259;
  color: whitesmoke;
}

@media only screen and (max-width: 850px) {
    .tables {
        margin-left: 21%;
    }

    button {
        margin-top: 5%;
    }
}
