body, html {
    height: 100%;
}

#dashboard {
    margin-left: 46.1%;
    margin-top: 2.5%;
}



.button {
  width: fit-content;
  background-color: whitesmoke;
  color: black;
  border: 1.8px solid #967259;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #967259;
  color: whitesmoke;
}

ul {
    padding-inline-start: 0;
    height: 100%;
}

.tasks {
    margin-left: 7%;
}

.task_info {
    height: 100%;
}

li {
    background-color: #dbc1ac;
    display: block;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    width: 20%;
    padding: 1%;
    height: 63%;
}

.creator {
    overflow-wrap: anywhere;
}

.descrip {
    overflow: scroll;
    height: 25%;
}

.task_name {
    text-transform: capitalize;
    text-align: center;
}
@media only screen and (max-width: 850px) {
    .tasks {
        margin-left: 21%;
    }
}
