<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
    <h6 class="user_count">Users in Cafe: {{ num_users }}</h6>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </div>

  <div class="main">
    <div class="user_info">
      <div class="person">
        <h3 class="name"> {{ firstName }} {{ lastName }} </h3>
        <p class="email"> {{ email }} </p>
      </div>

      <p> Date Joined:
        {{ dateJoined }} </p>
      <p class="uni"> University: {{ university }} </p>
      <p> Points: {{ points }} </p>
      <div class="buttons">
        <button onclick="document.location='dashboard/edit_info'" id="edit_info">Edit Info</button>
        <button onclick="document.location='table_view'" id="table_view">To Cafe</button>
        <button onclick="document.location='view_tasks'" id="view_tasks">Tasks</button>
        <button onclick="document.location='set_tasks'" id="set_tasks">Staff: Set Tasks</button>
      </div>
      <div class="set_study_break">
        {% if studying == False %}
        <form method="post">
          {% csrf_token %}  <!-- security item required for django forms !! -->
          {{ break_form }}<button type="submit"> Study! </button>
        </form>
        {% endif %}
      </div>
    </div>

    <div class="leaderboard">
      <h2 class="board_title">LEADERBOARD</h2>
    {% for student in users %}
      <li>{{ forloop.counter }}. <div class="student">{{ student.first_name }} {{ student.last_name }}</div> <div class="points">Points: {{ student.points }}</div></li>
    {% endfor %}
    </div>


    
</div>
<script src="{% static 'js/darkmode.js' %}" type="text/javascript"></script>
</body>

</html>
