<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </div>

  <h2>Dashboard</h2>
  <div class="main">
    
      <h3 class="name"> {{ firstName }} {{ lastName }} </h3>
      <p class="email"> {{ email }} </p>
      <p> Date Joined: {{ dateJoined }} </p>
      <p class="uni"> University: {{ university }} </p>
      <p> Points: {{ points }} </p>

    <button onclick="document.location='home'" id="home">To Cafe</button><br>
  </div>
</body>

</html>
