<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
    <h6 class="user_count">Users in Cafe: {{ num_users }}</h6>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </div>

  <br><br>

  {{ user.first_name }} {{ user.last_name }} <br>
  {{ user.university }} <br>
  My tables: <br>
  {% for table_name in tables %}
    {{ table_name }}
  {% endfor %}

  <form method="post">
    {% csrf_token %}  <!-- security item required for django forms !! -->
    {{ form.as_p }}

    <button type="submit"> Change </button>
  </form><br>
  <button onclick="document.location='/dashboard'" id="dashboard">Dashboard</button>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>
