<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}"></link>

  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
    <h6 class="user_count">Users in Cafe: {{ num_users }}</h6>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </div>

  <div class="main">

    <div class="user_info">

      <button onclick="document.location='../dashboard'" id="dashboard">Dashboard</button>
      <br><br>

      {{ user.first_name }} {{ user.last_name }} <br>

      <div class="social_media">
        <p style=" text-align: center ">
        {% if user.facebook %}
        <a href="{{ user.facebook }}" target="_blank">
          <img alt="fb" src="{% static 'images/facebook.png' %}" width=50 height=50>
        </a>
        {% endif %}
        {% if user.twitter %}
        <a href="{{ user.twitter }}" target="_blank">
          <img alt="twt" src="{% static 'images/twitter.png' %}" width=50 height=50>
        </a>
        {% endif %}
        {% if user.instagram %}
        <a href="{{ user.instagram }}" target="_blank">
          <img alt="insta" src="{% static 'images/instagram.png' %}" width=50 height=50>
        </a>
        {% endif %}
      </p>
      </div>

      University: {{ user.university }} <br>

      {% if course_entered %}
      Course: {{ user.course }} <br>
      {% endif %}

      {% if year_entered %}
      Year: {{ user.year }} <br>
      {% endif %}

      Tables: <br>
      {% for table in tables %}
      {{ table }}
      {% endfor %}
      <br>

    </div>

    <br><br>

      Collectables:
      <div class="grid_collectables">
        {% for img in collectable_pictures %}
        {% if forloop.counter > 5%}
          <img src="{% static img %}" style="grid-row: 2; grid-column: ;" >
        {% endif %}

        {% if forloop.counter < 6 %}
          <img src="{% static img %}" style="grid-row: 1; grid-column: {{forloop.counter}};" >
        {% endif %}
        {% endfor %}

      </div>


</div>
</body>

</html>
