<! -- Isabel, Victoria: 8/2/21 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sign Up</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
  </div>

  <div class="main">
    <h2>Sign Up</h2>

    <form class="signupform">
      <input type="text" placeholder="First name" required="required" size="34" name="fname" id="fname"><br>
      <input type="text" placeholder="Last name" required="required" size="34" name="lname" id="lname"><br><br>
      <input type="email" placeholder="University email" required="required" size="34" name="email" id="email"><br>
      <input type="password" placeholder="Password" required="required" size="34" name="psw" id="psw"><br>
      <input type="password" placeholder="Confirm password" required="required" size="34" name="pswconf" id="pswconf"><br><br>

      <label for="uni">Select your University:</label>
      <select id="uni" name="uni" required="required">
        <option value="exeter">Exeter</option>
        <!-- Add more options as system expands / pull from db -->
      </select><br><br>

      <label for="student"> Select staff or student: </label><br>
      <input type="radio" id="student" name="role" value="student">
      <label for="student">Student</label>
      <input type="radio" id="staff" name="role" value="staff">
      <label for="staff">Staff</label><br><br>

      <input type="submit" value="Sign Up" id="submit">
    </form><br>

    <button onclick="" id="login">Login</button><br>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
