<!DOCTYPE html>
<!-- Isabel: 20/2/21 -->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cafe</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/table_view.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </div>

  <button onclick="document.location='dashboard'" id="dashboard">Dashboard</button>
    
  <ul>
    <div class="tables">
      {% for table in tables %}
      <li>
        <a href="{% url 'table_chat' table.pk %}">
        <img alt="Table" src="{% static 'images/table.png' %}" width=200" height="200"></a>
        <p class="table_names">{{table.table_id}}</p>
      </li>
      {% endfor %}
    </div>
  </ul>
</body>

</html>
