<!DOCTYPE html>
<!-- Isabel: 20/2/21 -->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> {{ table.table_id }}</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
    Users in cafe: {{ num_users }}
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </div>

  <div class="navigation">
    <button onclick="document.location='/table_view'" id="table_view" inline="true">Back to Cafe</button><br>
    <h2 class="table_name">{{ table }}</h2>
  </div>

  <div class="row">
    <div class="other">

    <div class="users">
    Group members
    {% for user in users %}
    <li>
      {{user.first_name}} {{user.last_name}}
    </li>
    {% endfor %}
    </div>

    <div class="tasks">
      Tasks
      {% for task in tasks %}
      <li>
        {{task.task_content}} <!-- Should link to the tasks here when we know what task link is -->
        set by {{task.created_by}}
      </li>
      {% endfor %}
    </div>

    </div>

    <div class="messages">
      {% for msg in messages %}
      <li>
        <b>{{msg.created_by.first_name}} {{msg.created_by.last_name}}</b> <i>{{msg.message_date}}</i><br>
        <p class="msg">{{msg.message_content}}</p>
        <form action= "{% url 'upvote_message' msg.id%}" method="POST">
            {% csrf_token %}
            <button type="submit", name="message_upvote", value="{{ msg.id }}">Like</button> - {{msg.total_upvotes}} Likes
        </form>
      </li>
      {% endfor %}


      <form method="post">
        {% csrf_token %}  <!-- security item required for django forms !! -->
        {{ form.as_p }}<button type="submit"> Post </button>
      </form><br>
    </div>
</div>

</body>

</html>
