<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tasks</title>
        <meta name="description" content="Tasks that the user can enroll in">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com"></link>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="top_bar">
            <h6 class="app_name">CoffeeClique</h6>
            <a class="logout" href="{% url 'logout' %}">Logout</a>
        </div>
        <br>

        {% for task in tasks %}
        <div class="main">
            <h2>Task {{task.task_id}}</h2>
            {% csrf_token %}  <!-- security item required for django forms !! -->
            <table class="tasks">
                <tr>
                    <td><h4>Set By:</h4></td>
                    <td> {{task.created_by}}</td>
                </tr>  
                <tr> 
                    <td><h4>Points:</h4></td>
                    <td> {{task.points}} </td>
                </tr>
                <tr>
                    <td><h4>Description:</h4></td> 
                    <td> {{task.task_content}} </td>
                </tr>
                <tr>
                    <form action= "{% url 'completed' pk=task.task_id %}" method="post">
                    <td>><button type="submit"><center>Completed</center></button></td>
                    </form>
                </tr>
            </table>
        </div>
        {% endfor %}

        <script src="" async defer></script>
    </body>
</html>
