<!DOCTYPE html>
<! -- Isabel 18/2/21 -->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Terms of Use</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></link>
</head>

<body>
  <div class="top_bar">
    <h6 class="app_name">CoffeeClique</h6>
  </div>

  <div class="main">
    <h2>Terms of Use</h2>

    Welcome to CoffeeClique! <br>

    These Terms of Use (or “Terms”) govern your use of CoffeeClique. When you create an CoffeeClique account or use CoffeeClique, you agree to these terms.

    <h3>The CoffeeClique Service</h3>

    We agree to provide you with the CoffeeClique Service. The Service includes all of the CoffeeClique products, features, services, technologies, and software that we provide to connect you with others at your University and enhance your social and academic engagement.

    We pledge to make participation in our community a harassment-free experience for everyone, regardless of age, body size, visible or invisible disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, caste, color, religion, or sexual identity and orientation. We pledge to act and interact in ways that contribute to an open, welcoming, diverse, inclusive, and healthy community.

    <h3> The Privacy Policy </h3>

    Providing our Service requires collecting and using your information. The <a href="privacy" target="_blank">Privacy Policy</a> explains how we collect, use, and share information.

    <h3> Your Commitments </h3>
    In return for our commitment to provide the Service, we require you to make the below commitments to us.

    <h4> Who Can Use CoffeeClique. </h4>
    For the safety, security, and integrity of our Service, you must be a current University student or current University staff member in order to be part of the CoffeeClique community. Please behave in a way that contributes to a positive environment for our community, for example:
    <ul>
      <li>Demonstrating empathy and kindness toward other people</li>
      <li>Being respectful of differing opinions, viewpoints, and experiences</li>
      <li>Giving and gracefully accepting constructive feedback</li>
      <li>Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience</li>
      <li>Focusing on what is best not just for us as individuals, but for the overall community</li>
  </ul>

    <h4> How You Can't Use CoffeeClique. </h4>
    <ul>
      <li>You can't impersonate others or provide inaccurate information.</li>
      <li>You can't create an account for someone else unless you have their express permission.</li>
      <li>You can't use sexualized language or imagery, or make sexual advances of any kind</li>
      <li>You can't make trolling, insulting or derogatory comments, or personal or political attacks</li>
      <li>You can't publicly or privately harass others</li>
      <li>You can't do anything unlawful, misleading, or fraudulent or for an illegal or unauthorised purpose.</li>
      <li>You can't do anything to interfere with or impair the intended operation of the Service.</li>
      <li>You can’t sell, license, or purchase any account or data obtained from us or our Service.</li>
      <li>You can't post someone else’s private or confidential information without permission or do anything that violates someone else's rights, including intellectual property rights.</li>
  </ul>

  Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at igs205@exeter.ac.uk, or by using the <a href="report" target="_blank">report</a> functionality. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident.

    <h3> Permissions You Give to Us. </h3>

    As part of our agreement, you also give us permissions that we need to provide the Service. We do not claim ownership of your content that you share through the Service and you are free to share your content with anyone else, wherever you want. However, we need certain legal permissions from you (known as a “license”) to provide the Service. When you share, post, or upload content that is covered by intellectual property rights (including photos) on or in connection with our Service, you hereby grant to us a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of your content (consistent with your privacy and application settings). This license will end when your content is deleted from our systems.

    <h3> Content Removal </h3>

    We can remove any content or information you share on the Service if we believe that it violates these Terms of Use, our policies, or we are required to do so by law. We can refuse to provide or stop providing all or part of the Service to you immediately to protect our community or services, if you violate these Terms of Use or our policies, or where we are required to do so by law. We can also terminate or change the Service, remove content or information shared on our Service, or stop providing all or part of the Service. For details on deleting your content or account, please refer to our <a href="privacy" target="_blank">Privacy Policy </a>.

    <h3> Updating These Terms </h3>

    We will notify existing users before we make changes to these Terms and give you an opportunity to review them before they go into effect. Then, if you continue to use the Service, you will be bound by the updated Terms. If you do not want to agree to these or any updated Terms, you can delete your account.

    <br>
    Revised: March 7, 2021

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
